.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* margin: 0 auto 12px auto; */
  color: navy;
  padding-bottom: 30px;
}
  
.user:last-child {
  margin-bottom: 0;
}

.avatar {
  margin-right: -75px;
  /* border-radius: 40%; */
}

.excerpt {
  margin: 20px;
  margin-left: 180px;
  text-align: justify;
}

.user > div {
  margin: -50px;
}

.description {
  flex: 1;
  margin-left: 18px; 
  text-align: center;
  padding: 12px;
}

.greeting {
  margin: 0 0 12px 0;
  color: navy;
}